/* BODY */
body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
}


/* NAVBAR */
.navbar {
    background-color: #0000009f;
}
#navbarUser {
    margin-right: 40px;
}
div.dropdown-menu {
    background-color: #0000009f;
    border-right-color: whitesmoke;
    border-left-color: whitesmoke;
    border-bottom-color: whitesmoke;
}
div.dropdown-menu > :first-child {
    user-select: none;
    
}
.dropdown-menu > span > a {
    background-color: #0000009f;
    color: whitesmoke;
}
.dropdown-menu > a {
    background-color: #0000009f;
    color: whitesmoke;
}


/* PAGE HEADER */
.container-pg-head {
    margin-top: 20px;
    margin-bottom: 40px;
}
.h1-pg {
    color: whitesmoke;
}


/* MODALS */
.modalColor {
    color: black;
}
.modal {
    margin-left: 10px;
    margin-right: 10px;
}

/* QUERY MODAL */
.btn-query {
    height: 25px!important;
    width: 25px!important;
    padding: 0!important;
}


/* CONTAINERS */
.site-container {
    margin: 20px 0 20px 0;
}

/* CARDS */

.card {
    margin: 10px;
    background-color: #0000009f!important;
    color: whitesmoke;
}
.btn-card {
    width: max-content;
    align-self: center;
    margin-bottom: 5px;
}


/* TABLE */
.table > thead > .admin-table > th{
    color: whitesmoke;
}
.table > tbody > .admin-table > td{
    color: whitesmoke;
}
.table > tbody > .admin-table > td > img{
    color: black;
}


/* FORM */
form {
    color: whitesmoke;
}


/* FOOTER */
footer {
    background-color: black;
    height: 80px;
    margin-top: 40px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer .social-icons {
    margin: 5px 20px;
}
footer img {
    height: 40px;
}
.footer-text {
    justify-content: start;
}


@media (min-width: 768px) {
    footer #footer-textC {
        justify-content: center;
    }
    footer #footer-textL {
        justify-content: end;
    }
}